<div class="wrapper">
	<div class="container">
		<!-- Page-Title -->
		<div class="row">
		    <div class="col-sm-12">
		        <h4 class="page-title"> Основная панель </h4>
		    </div>
		</div>


        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <div>
               		<%= fa_icon "users", class: "text-danger" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Количество неплательщиков</p>
                        <h4 class="m-t-0 m-b-5 counter"><%= Person.count %></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <div>
               		<%= fa_icon "building-o", class: "text-primary" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Информация о поставщиках</p>
                        <h4 class="m-t-0 m-b-5 counter"><%= Company.all.count %> поставщика</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <div>
                    <%= fa_icon "info-circle", class: "text-info" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Общая задолженность</p>
                        <h4 class="m-t-0 m-b-5 counter"><%= number_to_currency(@sum_debt, unit: '') %></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="card-box widget-icon">
                <div>
					<%= fa_icon "university", class: "text-success" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Колличество лицевых счетов</p>
                        <h4 class="m-t-0 m-b-5 counter">14 254???</h4>
                    </div>
                </div>
            </div>
        </div>


                    <div class="col-lg-12">
                        <div class="card-box">
                            <h4 class="text-dark  header-title m-t-0 m-b-30">Задолженность и оплата за последние 6 месяцев</h4>

                            <div class="widget-chart text-center">
                                <%= high_chart("some_id5", @line_2_all) %>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-8">
                        <div class="card-box">
                            <h4 class="text-dark  header-title m-t-0">Топ неплательщиков</h4>
                            <p class="text-muted m-b-25 font-13">
                                Неплательщики с максимальной суммой задолженности
                            </p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Лицевой счет</th> 
                                        <th class="text text-danger">Сумма задолженности</th>
                                        <th>Адрес</th>
                                        <th>Дата последней оплаты</th>
                                        <th>Сумма последней оплаты</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% @tb_max_debt.each do |t| %>
                                        <tr>
                                            <td><%= t.account %></td>
                                            <td class="text text-danger"><%= number_to_currency(t.debt, locale: :ru) %></td>
                                            <td><%= t.address %></td>
                                            <td><%= t.last_payment_date %></td>
                                            <td><%= number_to_currency(t.payment, locale: :ru) %></td>
                                        </tr>
                                     <% end %>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end col -8 -->

                    <div class="col-lg-4">
                        <div class="card-box widget-user">
                            <div>
                                <%= image_tag('admin.jpg', class: 'img-responsive img-circle') %>
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">Администратор</h4>
                                    <p class="text-muted m-b-5 font-13">admin@example.com</p>
                                    <small class="text-warning"><b>Admin</b></small>
                                </div>
                            </div>
                        </div>

                        <div class="card-box widget-user">
                            <div>
                                <%= image_tag('admin.jpg', class: 'img-responsive img-circle') %>
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">Администратор</h4>
                                    <p class="text-muted m-b-5 font-13">admin@example.com</p>
                                    <small class="text-success"><b>Admin</b></small>
                                </div>
                            </div>
                        </div>

                        <div class="card-box widget-user">
                            <div>
                                <%= image_tag('admin.jpg', class: 'img-responsive img-circle') %>
                                <div class="wid-u-info">
                                    <h4 class="m-t-0 m-b-5">Администратор</h4>
                                    <p class="text-muted m-b-5 font-13">admin@example.com</p>
                                    <small class="text-pink"><b>Admin</b></small>
                                </div>
                            </div>
                        </div>
                        

                    </div>

                
              

	</div>	
</div>