
<div class="wrapper">
  <div class="container">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="page-title"> Информация о неплательщиках </h4>
        </div>
    </div>


        <div class="col-sm-6 col-lg-4">
            <div class="card-box widget-icon">
                <div>
                  <%= fa_icon "toggle-right", class: "text-purple" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Средняя задолженность</p>
                        </br>
                        <h4 class="m-t-0 m-b-5 counter"><%= number_to_currency(Person.average(:debt), locale: :ru) %></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card-box widget-icon">
                <div>
                  <%= fa_icon "toggle-up", class: "text-danger" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Максимальная задолженность</p>
                        <h4 class="m-t-0 m-b-5 counter"><%= number_to_currency(Person.maximum(:debt), locale: :ru) %></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-4">
            <div class="card-box widget-icon">
                <div>
          <%= fa_icon "user-times", class: "text-pink" %>
                    <div class="wid-icon-info">
                        <p class="text-muted m-b-5 font-13 text-uppercase">Колличество неплательщиков</p>
                        <h4 class="m-t-0 m-b-5 counter"><%= Person.count %></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="container">
            
    <!-- Графики -->
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <%= high_chart("some_id8", @pie_debtor) %>
            </div>  
        </div>
        <div class="col-lg-6">
            <div class="card-box">
                <%= high_chart("some_id9", @pie_month_debt) %>
            </div>  
        </div>
    </div>
</div>